.auth-form2 {
    margin-top: 101px;
}

.login-title {
    font-weight: bold;
    font-size: 24px;
}

input[type=text], input[type=password] {
    width: 23%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 20px;
}

.input-login {
    width: 20%;
}









